$primary: #E66C55;
$border-radius: 3px;
$text-primary: #1D6C93;
$text-color: #000;
$path: '../images/';
$border-radius-base: 3px;
$gray-light: #F0F0F0;
$shadow-block: 0 0.3rem 0.4rem 0 rgba(96,96,96,0.5);
$yellow: #F8DA69;
$green: #5EC68B;
$orange: #E66C55;
$pink: #f2c4c4;
$font-family: 'Neucha', cursive, Roboto, Arial;

$screen-mobile: 768px;
$screen-container: 1380px;
